In [45]:
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [19]:
WeatherPy_vacation = pd.read_csv("weather_data/WeatherPy_database.csv")

In [20]:
WeatherPy_vacation.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
0,Busselton,-33.65,115.33,57.99,81,58,3.00,light rain
1,Mataura,-46.19,168.86,46.89,87,80,5.10,light rain
2,Thompson,55.74,-97.86,55.40,87,90,8.05,overcast clouds
3,Ushuaia,-54.80,-68.30,33.80,80,40,12.75,scattered clouds
4,Vaini,-21.20,-175.20,77.00,94,75,8.05,broken clouds
5,Mahon,39.89,4.27,69.80,94,0,3.36,clear sky
6,Alyangula,-13.85,136.42,82.40,48,0,9.17,clear sky
7,Impfondo,1.64,18.07,72.28,93,100,1.21,overcast clouds
8,Isagarh,24.83,77.88,89.22,56,72,14.09,broken clouds
9,Harper,4.38,-7.72,75.78,82,61,9.62,broken clouds

In [21]:
WeatherPy_vacation.loc[(WeatherPy_vacation["Lat"] >= 0)].head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
2,Thompson,55.74,-97.86,55.40,87,90,8.05,overcast clouds
5,Mahon,39.89,4.27,69.80,94,0,3.36,clear sky
7,Impfondo,1.64,18.07,72.28,93,100,1.21,overcast clouds
8,Isagarh,24.83,77.88,89.22,56,72,14.09,broken clouds
9,Harper,4.38,-7.72,75.78,82,61,9.62,broken clouds

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 70

In [36]:
vacation_cities_df = WeatherPy_vacation.loc[(WeatherPy_vacation["Max Temp"] <= max_temp) & \
                                       (WeatherPy_vacation["Max Temp"] >= min_temp)]
vacation_cities_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
5,Mahon,39.89,4.27,69.80,94,0,3.36,clear sky
16,Puerto Ayora,-0.74,-90.35,69.01,92,51,9.19,broken clouds
18,Rikitea,-23.12,-134.97,68.41,59,20,18.16,few clouds
22,Komsomolskiy,40.43,71.72,69.80,30,0,4.70,clear sky
25,Saint-Francois,46.42,3.91,61.00,82,90,4.70,moderate rain
26,Batemans Bay,-35.72,150.18,61.00,61,66,3.11,broken clouds
27,Atasu,48.68,71.64,68.52,49,65,21.43,broken clouds
29,Cap Malheureux,-19.98,57.61,69.01,87,17,3.00,few clouds
45,Saint-Philippe,-21.36,55.77,68.00,68,29,6.93,scattered clouds
53,Yellowknife,62.46,-114.35,69.80,35,20,9.17,few clouds

In [58]:
hotels = vacation_cities_df[["City", "Cloudiness", "Max Temp", "Lat", "Lng"]].copy()
hotels["Hotel Name"] = ""
hotels.head(50)

                     City  Cloudiness  Max Temp    Lat     Lng Hotel Name
5                   Mahon           0     69.80  39.89    4.27
16           Puerto Ayora          51     69.01  -0.74  -90.35
18                Rikitea          20     68.41 -23.12 -134.97
22           Komsomolskiy           0     69.80  40.43   71.72
25         Saint-Francois          90     61.00  46.42    3.91
26           Batemans Bay          66     61.00 -35.72  150.18
27                  Atasu          65     68.52  48.68   71.64
29         Cap Malheureux          17     69.01 -19.98   57.61
45         Saint-Philippe          29     68.00 -21.36   55.77
53            Yellowknife          20     69.80  62.46 -114.35
56                 Shilka         100     67.24  51.85  116.03
58                  Lagoa           0     66.94  39.05  -27.98
59                 Albany           0     66.99  42.60  -73.97
60                  Yatou         100     69.13  37.15  122.38
63              Joshimath          99     69.08  30.57   79.57
70              Whakatane           3     62.01 -37.96  176.99
75               Souillac           6     69.01 -20.52   57.52
77              Innisfail          99     66.00 -17.53  146.03
78          Puerto Suarez          41     60.76 -18.95  -57.80
83           Richards Bay          29     60.17 -28.78   32.04
86   Verkhnyaya Balkariya           0     64.40  43.13   43.46
87                Grobina          90     64.40  56.54   21.17
91                   Roma          40     69.80  43.21  -75.46
92              Jamestown           1     66.20  42.10  -79.24
111                  Lata          47     64.99  40.16   -8.33
112                Palmer          75     69.01  42.16  -72.33
115             Myaundzha          77     63.72  63.05  147.19
125                Bethel           1     68.00  41.37  -73.41
127               Hualmay          70     61.81 -11.10  -77.61
135           Porto Santo          75     69.80  33.07  -16.34
142                Beloha           0     61.68 -25.17   45.05
150                   Vao           8     69.42 -22.67  167.48
157              Barranca          92     62.44 -10.75  -77.77
159               Markova          12     60.80  48.68   24.41
160           Aksarayskiy          59     69.80  46.79   48.01
164       Arraial Do Cabo          68     69.55 -22.97  -42.03
165                Trojes          38     66.20  41.76   19.96
168             Hay River          20     62.60  60.82 -115.80
170                 Boden          67     60.80  65.83   21.69
173                Torbay          90     63.00  47.67  -52.73
174              Portland          69     66.99  45.52 -122.68
179          Quatre Cocos           2     69.01 -20.21   57.76
181           Pietarsaari           8     62.01  63.65   22.68
182       Bambous Virieux           1     69.01 -20.34   57.76
186          Marsa Matruh          40     68.00  31.35   27.25
188            Washington          43     68.00  47.50 -120.50
189                Ayagoz           0     65.98  47.97   80.44
190             Geraldton          75     68.00 -28.77  114.60
194            Turukhansk          93     65.70  65.82   87.98
196             Esperance          40     60.80 -33.87  121.90

In [59]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "39.89, 4.27"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [68]:
# Iterate through the DataFrame.
for index, row in hotels.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotels.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

AttributeError: 'dict' object has no attribute 'iterrows'

In [54]:
# Grab the first hotel from the results and store the name.
try:
    hotels.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

AttributeError: 'dict' object has no attribute 'loc'