In [41]:
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
WeatherPy_vacation = pd.read_csv("weather_data/vacation_search.csv")

In [9]:
WeatherPy_vacation.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Along,IN,75.22,28.17,94.77,Hotel West
1,Atuona,PF,79.75,-9.80,-139.03,Villa Enata
2,Albany,US,82.99,42.60,-73.97,NaN
3,Bengkulu,ID,76.96,-3.80,102.27,Grage Hotel Bengkulu
4,Saquena,PE,81.77,-4.67,-73.52,NaN
5,Lorengau,PG,82.94,-2.02,147.27,Lorengau Harbourside Hotel
6,Kontagora,NG,81.32,10.40,5.47,City Gate Inn
7,Fukue,JP,75.94,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
8,Kalmunai,LK,80.87,7.42,81.82,VS Villa
9,Batouri,CM,71.78,4.43,14.37,Hotel Hollywood

In [20]:
hotel1 = WeatherPy_vacation.loc[(WeatherPy_vacation["City"] == "Epe")].head(1)

In [21]:
hotel2 = WeatherPy_vacation.loc[(WeatherPy_vacation["City"] == "Lokoja")].head(1)

In [22]:
hotel3 = WeatherPy_vacation.loc[(WeatherPy_vacation["City"] == "Kontagora")].head(1)

In [23]:
hotel4 = WeatherPy_vacation.loc[(WeatherPy_vacation["City"] == "Funtua")].head(1)

In [26]:
vacation_itinerary = hotel1.append(hotel2).append(hotel3).append(hotel4)

In [38]:
vacation_itinerary

         City Country  Max Temp    Lat   Lng                    Hotel Name
43        Epe      NG     78.10   6.58  3.98                MAGVILLE HOTEL
23     Lokoja      NG     79.16   7.80  6.74                 Hotel Charvid
6   Kontagora      NG     81.32  10.40  5.47                 City Gate Inn
56     Funtua      NG     78.21  11.52  7.31  Elbintu Restaurant And Motel

In [39]:
start = hotel1["Lat"].values[0], hotel1["Lng"].values[0]

In [40]:
stop2 = hotel2["Lat"].values[0], hotel2["Lng"].values[0]
stop3 = hotel3["Lat"].values[0], hotel3["Lng"].values[0]
end = hotel4["Lat"].values[0], hotel4["Lng"].values[0]

In [47]:
fig = gmaps.figure()
vacation = gmaps.directions_layer(
        start, end, waypoints=[stop2, stop3])
fig.add_layer(vacation)
# maps.savefig("weather_data/Fig5.png")
fig

Figure(layout=FigureLayout(height='420px'))