In [1]:
import sys 
!{sys.executable} -m pip install gmaps
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

Requirement already satisfied: gmaps in /opt/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.13.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: geojson>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (47.1.1.post20200604)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.15.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.6)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso>=0.5.2 in /opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.9)
Requirement already satisfied: tornado>=4.2 in /opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in /opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.3)
Requirement already satisfied: notebook>=4.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pyzmq>=13 in /opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (18.1.1)
Requirement already satisfied: nbconvert in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: prometheus-client in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: Send2Trash in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: terminado>=0.8.1 in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.6.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.4)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

In [2]:
# city_data_df = pd.read_csv("weather_data/cities.csv")
# city_data_df.head()
city_data_new_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_new_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain,Snow
0,Mehamn,NO,71.04,27.85,50.00,71,53,6.93,NaN,0.0,0
1,Kurumkan,RU,54.30,110.30,67.41,54,49,2.24,NaN,0.0,0
2,Port Lincoln,AU,-34.73,135.87,52.61,77,90,8.63,NaN,0.0,0
3,Puerto Ayora,EC,-0.74,-90.35,78.80,61,20,8.05,NaN,0.0,0
4,Ilmajoki,FI,62.73,22.57,60.01,54,9,5.82,NaN,0.0,0

In [3]:
#Get the data types
city_data_new_df.dtypes

City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain                   float64
Snow                     int64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_new_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_new_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
snow_amount = input("Do you want it to be snowing ?(yes/no)")
rain_amount = input("Do you want it to be raining?(yes/no)")

Do you want it to be snowing ?(yes/no)no
Do you want it to be raining?(yes/no)no

In [8]:
filtered_cities_df = city_data_new_df.loc[(city_data_new_df["Max Temp"] <= max_temp) & \
                                       (city_data_new_df["Max Temp"] >= min_temp)]

In [9]:
if rain_amount == "yes":
    filtered_cities_df = filtered_cities_df.loc[filtered_cities_df['Rain']==0]
else:
    filtered_cities_df = filtered_cities_df.loc[filtered_cities_df['Rain']>0]
if snow_amount == "no":
    filtered_cities_df = filtered_cities_df.loc[filtered_cities_df['Snow']==0]
else:
    filtered_cities_df = filtered_cities_df.loc[filtered_cities_df['Snow']>0]

In [10]:
# Filter the dataset to find the cities that fit the criteria.
filtered_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain,Snow
5,Along,IN,28.17,94.77,75.22,88,99,0.83,NaN,1.53,0
14,Atuona,PF,-9.80,-139.03,79.75,79,4,24.87,NaN,0.15,0
43,Albany,US,42.60,-73.97,82.99,71,97,3.42,NaN,2.18,0
54,Bengkulu,ID,-3.80,102.27,76.96,87,44,5.70,NaN,0.24,0
74,Saquena,PE,-4.67,-73.52,81.77,88,67,2.21,NaN,2.75,0
82,Lorengau,PG,-2.02,147.27,82.94,74,41,6.87,NaN,0.11,0
96,Kontagora,NG,10.40,5.47,81.32,79,61,4.79,NaN,4.31,0
100,Fukue,JP,32.69,128.84,75.94,94,100,15.73,NaN,2.27,0
104,Kalmunai,LK,7.42,81.82,80.87,74,100,8.25,NaN,0.25,0
112,Batouri,CM,4.43,14.37,71.78,92,73,1.30,NaN,1.35,0

In [11]:
filtered_cities_df.count()

City                   116
Country                116
Lat                    116
Lng                    116
Max Temp               116
Humidity               116
Cloudiness             116
Wind Speed             116
Current Description     58
Rain                   116
Snow                   116
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          City Country  Max Temp    Lat     Lng Hotel Name
5        Along      IN     75.22  28.17   94.77
14      Atuona      PF     79.75  -9.80 -139.03
43      Albany      US     82.99  42.60  -73.97
54    Bengkulu      ID     76.96  -3.80  102.27
74     Saquena      PE     81.77  -4.67  -73.52
...        ...     ...       ...    ...     ...        ...
1072    Undory      RU     71.60  54.61   48.39
1081  Weligama      LK     79.79   5.97   80.42
1097   Wanning      CN     82.08  18.80  110.40
1101    Funtua      NG     78.21  11.52    7.31
1119   Kendari      ID     73.80  -3.94  122.50

[116 rows x 6 columns]

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel West
Villa Enata
Hotel not found... skipping.
Grage Hotel Bengkulu
Hotel not found... skipping.
Lorengau Harbourside Hotel
City Gate Inn
Goto Guesthouse Utojuku & SA Car Rental
VS Villa
Hotel Hollywood
Wedgewood Motel
Circuit House
Sheraton Kauai Resort at Coconut Beach
Isles Sunset Lodge
Wingate By Wyndham Rome
Rumbia Resort Villa Paka Terengganu
Fuente del Guania Hotel de Lujo
Bismillah Hotel And Lodging
Windvillage
Hotel The Royal Honours
Camp Pasica
Hotel El Puerto
Swiss-Belhotel Ambon
Hotel Charvid
Hotel Memory
Hotel not found... skipping.
Hotel not found... skipping.
Oustaz Vame DIAKITE
Hotel not found... skipping.
Mini Hotel Central
The Waigo Hotel
Hotel Santika Luwuk
Hotel Bukik Gadang
Dhanshree Lodge And DormItory
ALETHEIA Appartement Sinnamary
Lords Inn Somnath
Shingu UI Hotel
Xiushui Hotel
Cj's Travellers Inn
Hotel not found... skipping.
Hotel La Perla Preziosa
Mercure Padang
Hotel Conceição
MAGVILLE HOTEL
Hote Ivoire Soubre
Siang Guest House
Coastline Guest House
Hotel Maniprabha
Hotel Nusantara Nabire
Hotel View Point
Hotel Belgrado
Baiboon Resort
Panoramic Sea Resort
Ul'yanovskkurort, Turoperator
Weligama Bay Resort
Paradise Hotel
Elbintu Restaurant And Motel
Hotel Wixel
Hotel West
Villa Enata
Hotel not found... skipping.
Grage Hotel Bengkulu
Hotel not found... skipping.
Lorengau Harbourside Hotel
City Gate Inn
Goto Guesthouse Utojuku & SA Car Rental
VS Villa
Hotel Hollywood
Wedgewood Motel
Circuit House
Sheraton Kauai Resort at Coconut Beach
Isles Sunset Lodge
Wingate By Wyndham Rome
Rumbia Resort Villa Paka Terengganu
Fuente del Guania Hotel de Lujo
Bismillah Hotel And Lodging
Windvillage
Hotel The Royal Honours
Camp Pasica
Hotel El Puerto
Swiss-Belhotel Ambon
Hotel Charvid
Hotel Memory
Hotel not found... skipping.
Hotel not found... skipping.
Oustaz Vame DIAKITE
Hotel not found... skipping.
Mini Hotel Central
The Waigo Hotel
Hotel Santika Luwuk
Hotel Bukik Gadang
Dhanshree Lodge And DormItory
ALETHEIA Appartement Sinnamary
Lords Inn Somnath
Shingu UI Hotel
Xiushui Hotel
Cj's Travellers Inn
Hotel not found... skipping.
Hotel La Perla Preziosa
Mercure Padang
Hotel Conceição
MAGVILLE HOTEL
Hote Ivoire Soubre
Siang Guest House
Coastline Guest House
Hotel Maniprabha
Hotel Nusantara Nabire
Hotel View Point
Hotel Belgrado
Baiboon Resort
Panoramic Sea Resort
Ul'yanovskkurort, Turoperator
Weligama Bay Resort
Paradise Hotel
Elbintu Restaurant And Motel
Hotel Wixel

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Along,IN,75.22,28.17,94.77,Hotel West
14,Atuona,PF,79.75,-9.80,-139.03,Villa Enata
43,Albany,US,82.99,42.60,-73.97,
54,Bengkulu,ID,76.96,-3.80,102.27,Grage Hotel Bengkulu
74,Saquena,PE,81.77,-4.67,-73.52,
82,Lorengau,PG,82.94,-2.02,147.27,Lorengau Harbourside Hotel
96,Kontagora,NG,81.32,10.40,5.47,City Gate Inn
100,Fukue,JP,75.94,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
104,Kalmunai,LK,80.87,7.42,81.82,VS Villa
112,Batouri,CM,71.78,4.43,14.37,Hotel Hollywood

In [26]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#fig = gmaps.figure("weather_data")
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
hotel_df.to_csv("weather_data/vacation_search.csv", index = False)